.font-size-12{
    font-size: 12px;
}

.text-align-right{
    text-align: right;
}

.gray-background{
    background-color: #D3D3D3;
}
.yellow-background{
    background-color: #F4F1BB;
}

.container-card{
    /* position: position;
    align-content: center;
    width: 70%; */
    /* border: 3px solid green; */
    margin: auto;
    width: 35%;
    padding: 10px;
}

.content-header-padding{    
    padding-bottom: 0px;
}