.container-card-asesores{
    margin: auto;
    width: 100%;
    padding: 10px;
}

/* .yellow-background-month{
    background-color: #F4F1BB;
} */

.yellow-bg-month:nth-child(1){
    background-color: #F4F1BB;

}

.gray-background-asesores{
    background-color: #D3D3D3;
}

.background-total-pvas-title:nth-child(7){
    background: #D3D3D3;
}

.background-total-pvas-subtitle:nth-child(22){
    background: #D3D3D3;
}
.background-total-pvas-subtitle:nth-child(22) + th{
    background: #D3D3D3;
}

.background-total-pvas:nth-child(23){
    background: #D3D3D3;
}
.background-total-pvas:nth-child(23) + th{
    background: #D3D3D3;
}

.bg-table-row:first-child{
    background: #D3D3D3;
}

.bg-subt-subtitle:nth-child(5),
.bg-subt-subtitle:nth-child(7){
    background: #D3D3D3;
}

.bg-subt-total-value:nth-child(6),
.bg-subt-total-value:nth-child(8){
    background: #D3D3D3;
}

.bg-tot-ent:nth-child(9){
    background: #D3D3D3;
}

.bg-tot-ent-value:nth-child(10){
    background: #D3D3D3;
}