.container-body{
    margin-left: 300px;
    
}

.container-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin: 20px 0;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
    transition: all 0.7s linear;
  }
  
  .card-body {
    padding: 2rem 0 !important;
    box-shadow: 5px 5px 30px 1px #7c7c81;
    background: #fafafa;
  }
  
  .card-text {
    padding: 0.3rem 1rem;
    font-size: 1rem;
  }
  
  .overflow {
    overflow: hidden;
  }
  
  .card-img-top {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
  }
  
  .card-img-top:hover {
    transform: scale(1.2);
  }

  @media (max-width: 1000px) {
    .container-cards{
     
      grid-template-columns: repeat(1, 1fr);
      
  }
  }
/* 
.container-cards{
    display: flex;
    
}

.card{
    margin:25px;
    padding: 25px;
} */