.border-separator-bottom {
    border-bottom: 1px solid gray;
}
.border-separator-top {
    border-top: 1px solid gray;
}
.border-separator-right-left {
    border-right: 1px solid gray ;
    border-left: 1px solid gray;
}

