.secundario{
    text-align: center;
}
.principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
img{
    width: 300px;
    padding: 5px;
}

.style-spinner{
    margin: auto;
    width: 35%;
    padding: 10px;
    padding-left: 30px;
}
