.carrousel__container{
    border-radius:20px;
    margin-top:10px;
    margin-bottom:10px;
    margin:auto;
    width:770px;
    height:570px;
    box-shadow: 5px 5px 15px gray;
    border: solid 1px gray;
}

@media screen and (max-width: 960px) {
    .carrousel__container{
        border-radius:20px;
        margin-top:10px;
        margin-bottom:10px;
        margin:auto;
        width:500px;
        height:300px;
        box-shadow: 5px 5px 15px gray;
        border: solid 1px gray;
    }
}

@media screen and (max-height: 659px) {
    .carrousel__container{
        border-radius:20px;
        margin-top:10px;
        margin-bottom:10px;
        margin:auto;
        width:500px;
        height:300px;
        box-shadow: 5px 5px 15px gray;
        border: solid 1px gray;
    }
}

@media (max-width: 700px) {
    .carrousel__container{
        border-radius:20px;
        margin-top:10px;
        margin-bottom:10px;
        margin:auto;
        width:400px;
        height:280px;
        box-shadow: 5px 5px 15px gray;
        border: solid 1px gray;
    }
}

@media (max-width: 500px) {
    .carrousel__container{
        border-radius:20px;
        margin-top:10px;
        margin-bottom:10px;
        margin:auto;
        width:340px;
        height:280px;
        box-shadow: 5px 5px 15px gray;
        border: solid 1px gray;
    }
}

@media (max-width: 400px) {
    .carrousel__container{
        border-radius:20px;
        margin-top:10px;
        margin-bottom:10px;
        margin:auto;
        width:260px;
        height:260px;
        box-shadow: 5px 5px 15px gray;
        border: solid 1px gray;
    }
}