.modal0{
    position: fixed;
    z-index: 999;
    top: 1rem;
    left: 0;
    width: 101%;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 0.549); */
    background: linear-gradient(to right, white 3%, rgba(0, 0, 0, 0.549));
    background: -prefix-linear-gradient(to right, white, rgba(0, 0, 0, 0.549));
    display: none;
    justify-content: center;
    align-items: center;
    
}

.modal0.is-open{
    display: flex;

}
.modal-container{
    position:relative;
    /* min-width:680px ;
    max-width: 750px;
    min-height: 200px;
    max-height: 700px; */
    width: 450px;
    height: 682px;
    overflow-y: auto ;
    background-color: white;
    padding: 1rem;
    border-radius: 2%;

}

.news-cards {
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin: 10px 0;
}

.modal-close{
    position:absolute;
    
    top: 1rem ;
    right: 1rem;
}

.suggestion:hover{
    cursor: pointer;
    background-color: grey;
  }


  @media screen and (max-width: 960px) {
    .modal-container{
        position:absolute;
        /* min-width:680px ;
        max-width: 750px; */
        width: 450px;
        height: 500px;
        /* min-height: 200px;
        max-height: 700px; */


        overflow-y: auto ;
        background-color: white;
        padding: 1rem;
        border-radius: 2%;
    
    }

    
  }

  @media (max-width: 700px) {
    .modal-container{
        position:absolute;
        /* min-width:680px ;
        max-width: 750px; */
        width: 400px !important;
        height: 450px !important;

        /* min-height: 200px;
        max-height: 700px; */
        overflow-y: auto ;
        background-color: white;
        padding: 10px;
        border-radius: 2%;
    
    }

    
  }

  @media (max-width: 500px) {
    .modal-container{
        position:absolute;
       /* min-width:680px ;
        max-width: 750px; */
        width: 300px !important;
        height: 400px !important;
        /* min-height: 200px;
        max-height: 700px; */
        overflow-y: auto ;
        background-color: white;
        padding: 1rem;
        border-radius: 2%;
    
    }
    
  }

  /* Regla para altura de página 695 */
  @media (max-height: 760px) {
    .modal-container{
        position:absolute;
       /* min-width:680px ;
        max-width: 750px; */
        width: 450px;
        height: 450px;
        /* min-height: 200px;
        max-height: 700px; */
        overflow-y: auto ;
        background-color: white;
        padding: 1rem;
        border-radius: 2%;
    
    }

  }