.modal1{
    position: fixed;
    z-index: 999;
    top: 1rem;
    left: 0;
    width: 101%;
    height: 100vh;
    background: linear-gradient(to right, white 3%, rgba(0, 0, 0, 0.549));
    background: -prefix-linear-gradient(to right, white, rgba(0, 0, 0, 0.549));
    display: none;
    justify-content: center;
    align-items: center;
}

.modal1.is-open1{
    display: flex;;
}

.modal-container1{
    position:relative;
    /* width: 450px; */
    /* height: 682px; */
    width: 850px;
    height: 650px;
    overflow-y: auto ;
    background-color: white;
    padding: 1rem;
    border-radius: 2%;
}

.modal-close1{
    position:absolute;
    bottom: 10px;
    right: 45%;
    left: 45%;
}

@media screen and (max-width: 960px) {
    .modal-container1{
        position:relative;
        width: 580px;
        height: 480px;
        overflow-y: auto ;
        background-color: white;
        padding: 1rem;
        border-radius: 2%;
    
    }

    .modal-close1{
        position:absolute;
        bottom: 10px;
        right: 40%;
        left: 40%;
    }
    
}


@media screen and (max-height: 659px) {
    .modal-container1{
        position:relative;
        width: 580px;
        height: 480px;
        overflow-y: auto ;
        background-color: white;
        padding: 1rem;
        border-radius: 2%;
    
    }
    .modal-close1{
        position:absolute;
        bottom: 10px;
        right: 40%;
        left: 40%;
    }
    
}

@media (max-width: 700px) {
    .modal-container1{
        position:relative;
        width: 460px;
        height: 460px;
        overflow-y: auto ;
        background-color: white;
        padding: 1rem;
        border-radius: 2%;
    
    }
}

@media (max-width: 500px) {
    .modal-container1{
        position:relative;
        width: 380px;
        height: 460px;
        overflow-y: auto ;
        background-color: white;
        padding: 1rem;
        border-radius: 2%;
    
    }
    
}

@media (max-width: 400px) {
    .modal-container1{
        position:relative;
        width: 300px;
        height: 400px;
        overflow-y: auto ;
        background-color: white;
        padding: 1rem;
        border-radius: 2%;
    
    }
    
}