.container-body{
    margin-left: 300px;
    width: 78%;
}

.box-data {
   height: 300px;
   width: 600px;
   background: #1c2237;
   display: flex; 
   justify-content: center;
   
}

.news-cards {
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin: 10px 0;
}

.space-qr-container{
    margin-right: 280px !important;
}

.margin-qr__top{
    margin-top: 85px !important;
}

.font__size{
    font-size:medium;
}




