/* .navbar {
    
    background-color: #87CEEB;
    height: 90px;
    width:100%;
    display: flex;
    justify-content: start;
    align-items: center;
    
  }

  .nombreUser {
    
    margin-right: 15px;
  }
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  
  .nav-menu {
    
    background-color: #87CEEB;
    width: 250px;
   
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
    
    
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
    
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 0px;
    list-style: none;
    height: 52px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    
    padding: 0 0px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    
    background-color: #5c5c5c;
  }
  
  .nav-menu-items {
   
    width: 100%;
    height:100%;
    margin-right: 20px;
  }
  
  .navbar-toggle {
    background-color: #87CEEB;
    width: 100%;
    height: 80px;
    
    display: flex;
    justify-content: start;
    
    
  }
  
  span {
    margin-left: 16px;
  }
  .logo{
    width: 180px;
  }
  .logo0{
    width: 180px;
  }
 .usuario{
 
   position:absolute;
   display: flex;
   
   
   margin-left: 90%;
   

 }
 @media only screen and (max-width: 600px) {
  .mainItems {
    grid-template-columns: auto;
  }
}
 */

 .desplazaIconBar{
   margin-left: 100px;
 }

 .arreglos{
   height: 100% !important;
    position:fixed !important;
    /* z-index: 1; */
  }

  
  .color-fuente{
    color: grey !important;
  }
  
  .color-fuente-selected{
    color: white !important;
    /* color:white !important;
    font-size: larger; */
  }
  
  .bg__categorias{
    color: black !important;
    background-color: #b5b5b5 !important ;
  }
  
  .bg__categorias:hover{
    
    background-color: #E5E5E5 !important ;
    /* background-color: #FFF87F !important ; */
    /* background-color: #F4F1BB !important ; */
  }

  .bg__categorias_children{
    background-color: #F4F1BB !important;
  }