.handpointer{
    cursor: pointer;
}
.background-tabs{
    background: #007BFF !important;
    color: white !important;
}

.input-agency{
    margin-top: 0px;
    /* margin-left: auto; */
    padding-right: 0px;
    width: 15%;
}

.input-month-year{
    margin-top: 0px;
    margin-right: 3px;
    /* margin-left: auto; */
    padding-right: 0px;
    width: 15%;
}